.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    height: 100%;
    width: 197px;
}

.logo__image {
    position: relative;
    width: 30px;
    height: 30px;
    overflow: hidden;

    margin-left: 23px;
}

.logo__header {
    font-family: SF Pro Display Regular;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

.logo__image_position {
    position: absolute;
    top: -18.5px;
    right: -36px;
}

@media screen and (max-width: 920px) {
    .logo {
        gap: 13px;
    }

    .logo__image {
        margin-left: 19px;
    }

    .logo__header {
        letter-spacing: 0.7px;
    }
}