.city-page {
    background: radial-gradient(80.36% 80.36% at 50% 0%, #5A607C 0%, #161B30 100%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    margin-top: 89px;
    width: 100%;
    padding: 0 34px;
    display: flex;
    justify-content: space-between;
}

.back-button {
    display: flex;
    align-items: center;
    gap: 12px;
}

.back-button__text {
    font-family: SF Pro Display Regular;
    font-size: 16px;
    line-height: 110.7%;

    color: #8A91AB;
}

.city-page__loader {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.city-page__heading {
    margin: 24.5px 0 0 1px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.heading__name-city {
    margin-left: 1px;

    font-family: SF Pro Display Regular;
    font-weight: 500;
    font-size: 56px;
    line-height: 110.7%;
    letter-spacing: 1px;

    color: #FFFFFF;
}

.heading__weather-name {
    font-family: SF Pro Display Regular;
    font-size: 16px;
    line-height: 110.7%;

    color: #FFFFFF;
}

.city-page__main-weather {
    margin-top: 17px;

    display: flex;
    align-items: center;
}

.main-weather__icon {
    display: block;
    height: 191px;
    width: 191px;

    position: relative;
    top: -4px;
    left: 9px;
}

.city-page__additional-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;

    margin-top: 40px;
}

.atmosphere-pressure {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
}

.atmosphere-pressure__logo {
    position: relative;
    top: -1px;
    right: -1px;
}

.atmosphere-pressure__logo_position {
    position: absolute;
    top: 1px;
    right: 1px;
}

.atmosphere-pressure__text {
    font-family: SF Pro Display Regular;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;
}

.additional-weather__sunset {
    font-family: SF Pro Display Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 110.7%;

    color: #8A91AB;
}

.link {
    text-decoration: none;
}

@media screen and (max-width: 920px) {
    .buttons {
        margin-top: 0;
        padding: 20px;
    }

    .city-page__heading {
        margin-top: 25px;
        gap: 13px;
    }

    
    .heading__name-city {
        margin-left: 0px;
        letter-spacing: 0.5px;
        font-size: 24px;
    }

    .heading__weather-name {
        font-size: 14px;
    }

    .city-page__main-weather {
        margin-top: 18px;
        flex-direction: column;
    }

    .city-page__main-weather {
        gap: 0;
    }

    .main-weather__icon {
        margin: -27px 0 0 14px;
        display: block;
        height: 162px;
        width: 162px;

        top: 0;
        left: 0;
    }

    .city-page__additional-weather {
        margin-top: 28px;
        gap: 36px;
    }

    .atmosphere-pressure__text {
        font-size: 14px;
    }

    .atmosphere-pressure__logo {
        top: 1px;
    }

    .additional-weather__sunset {
        font-size: 14px;
    }



}