.city-page {
    background: radial-gradient(80.36% 80.36% at 50% 0%, #5A607C 0%, #161B30 100%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    margin-top: 89px;
    width: 100%;
    padding: 0 34px;
    display: flex;
    justify-content: space-between;
}

.back-button {
    display: flex;
    align-items: center;
    gap: 12px;
}

.back-button__text {
    font-family: SF Pro Display Regular;
    font-size: 16px;
    line-height: 110.7%;

    color: #8A91AB;
}

.city-page__loader {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.city-page__heading {
    margin-top: 24px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 17px;
}

.heading__name-city {
    font-family: SF Pro Display Regular;
    font-weight: 500;
    font-size: 56px;
    line-height: 110.7%;
    letter-spacing: 1px;

    color: #FFFFFF;
}

.heading__weather-name {
    font-family: SF Pro Display Regular;
    font-size: 16px;
    line-height: 110.7%;

    color: #FFFFFF;
}

.city-page__main-weather {
    margin-top: 16px;

    display: flex;
    align-items: center;
    gap: 10px;
}

.main-weather__degrees {
    font-family: SF Pro Display Regular;
    font-weight: 600;
    font-size: 129.755px;
    line-height: 110.7%;
    letter-spacing: 3px;

    background: linear-gradient(180deg, #FFFFFF 11.65%, rgba(255, 255, 255, 0) 139.47%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-weather__icon {
    display: block;
    height: 191px;
    width: 191px;
}

.city-page__additional-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    margin-top: 44px;
}

.additional-weather__atmosphere-pressure {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
}

.additional-weather__atmosphere-pressure__text {
    font-family: SF Pro Display Regular;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;
}

.additional-weather__sunset {
    font-family: SF Pro Display Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 110.7%;

    color: #8A91AB;
}

.link {
    text-decoration: none;
}

@media screen and (max-width: 920px) {
    .buttons {
        margin-top: 0;
        padding: 20px;
    }

    .city-page__heading {
        margin-top: 25px;
        gap: 12px;
    }

    .heading__name-city {
        font-size: 24px;
    }

    .city-page__main-weather {
        flex-direction: column;
    }

    .city-page__main-weather {
        gap: 0;
    }

    .main-weather__degrees {
        font-size: 120px;
    }

    .main-weather__icon {
        margin: -27px 0 0 -10px;
        display: block;
        height: 162px;
        width: 162px;
    }

    .city-page__additional-weather {
        margin-top: 31px;
        gap: 37px;
    }

    .additional-weather__atmosphere-pressure__text {
        font-size: 14px;
    }

    .additional-weather__sunset {
        font-size: 14px;
    }



}