.weather-degree {
    font-family: SF Pro Display Regular;
    font-weight: 600;
    font-size: 129.755px;
    line-height: 110.7%;
    letter-spacing: 3px;


    background: linear-gradient(180deg, #FFFFFF 11.65%, rgba(255, 255, 255, 0) 139.47%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 920px) {
    .weather-degree {
        font-size: 120px;
    }
}